<main>
    <h1 id="headline">Welcome!</h1>
        <div class="picture-container">
            <img id="picture"ng-src="public/images/profile-picture.png" alt="">
        </div>

        <div class="about-container">
            <p>Hi, my name is Brian Murphy. I am a junior web developer. I have recently transitioned my career from sales due to my increasing interest in the tech sector.  My years of sales experience taught me valuable lessons on how to be a professional and work within different sized companies. Mostly importantly, I learned what I wanted out of a rewarding career and that is what prompted me to jump head first into the tech world and learn as much as I can.
            </p><br/>

            <p>I have experience building with Angular, Node.js, React, Ruby on Rails, MongoDB (full CRUD / MEAN stack apps.) I am open and excited to learn any new languages and stacks!</p>
        </div>
</main>

<footer class="has-background-info">
    <a href="https://github.com/BrianMurphy89" target="_blank">
        <img class="logos" ng-src="public/images/github-logo.png" alt="">
    </a>
    <a href="https://www.linkedin.com/in/brianmurphy89/" target="_blank">
        <img class="logos" src="public/images/linkedin.png" alt="">
    </a>
</footer>
