<nav class="navbar is-info">
    <div class="navbar-brand">
        <a class="navbar-item" href="#"><h1>Brian Murphy's Portfolio</h1></a>
    </div>

    <div class="navbar-start">
        <div class="navbar-item">
            <a id="navtext" ng-click="ctrl.showHome()" href="#">Home</a>
        </div>
        <div class="navbar-item">
            <a id="navtext" ng-click="ctrl.showProjects()" href="#">Projects</a>
        </div>
        <div class="navbar-item">
            <a id="navtext" ng-click="ctrl.showAbout()" href="#">Contact</a>
        </div>
    </div>
</nav>
