<h1 id="headline">Projects</h1>
<main>
    <div class="tile is-ancestor">
      <div id="tile-boxes"class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title has-text-centered">Higher or Lower Game</p>
          <figure class="image is-4by3">
              <a href="https://brianmurphy89.github.io/"target="_blank">
                  <img ng-src="public/images/Higher-Lower.png" alt="">
              </a>
          </figure>
        </div>
        <div class="tile is-child box">
          <p class="title has-text-centered">Pet-A-Gram</p>
          <figure class="image is-4by3">
              <a href="https://pet-a-gram.herokuapp.com/" target="_blank">
                  <img ng-src="public/images/Pet-A-Gram.png" alt="">
              </a>
          </figure>
        </div>
        <div class="tile is-child box">
            <p class="title has-text-centered">Dream Onward</p>
            <figure class="image is-4by3">
                <a href="https://dream-onward.herokuapp.com/" target="_blank">
                    <img ng-src="public/images/Dream-Onward.png" alt="">
                </a>
            </figure>
        </div>
        <div class="tile is-child box">
            <p class="title has-text-centered">Timepiece Tracker</p>
            <figure class="image is-4by3">
                <a href="https://timepiece-app.herokuapp.com/" target="_blank">
                    <img ng-src="public/images/Timepiece.png" alt="">
                </a>
            </figure>
        </div>
      </div>
    </div>

<h1 id="headline">GitHub For Projects</h1>
<div class="tile is-ancestor">
  <div id="tile-boxes"class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p>
        <ul>
          <li class="has-text-centered"><a href="https://github.com/BrianMurphy89/Higher-Or-Lower"target="_blank">Higher or Lower</a></li>
          <!-- <li><a href="https://bm-marveluniverse.herokuapp.com/" target="_blank">Marvel Website</a></li> -->
          <li class="has-text-centered"><a href="https://github.com/BrianMurphy89/Pet-A-Gram"target="_blank">Pet-A-Gram</a>  </li>
          <li class="has-text-centered">Pet-A-Gram Login: Username - Bob / Password - 12345</li>
          <li class="has-text-centered"><a href="https://github.com/samwhindleton/dream-onward"target="_blank">Dream Onward</a></li>
          <li class="has-text-centered"><a href="https://github.com/BrianMurphy89/Timepiece-app"target="_blank">Timepiece Tracker</a></li>
      </ul>
    </p>
</div>

</main>

<footer class="has-background-info">
    <a href="https://github.com/BrianMurphy89" target="_blank">
        <img class="logos" ng-src="public/images/github-logo.png" alt="">
    </a>
    <a href="https://www.linkedin.com/in/brianmurphy89/" target="_blank">
        <img class="logos" src="public/images/linkedin.png" alt="">
    </a>
</footer>
